body {
  width:  90%;
  height: 100%;
  margin: 0px;
  padding-left: 30px;
  background-color: #fbfbfb;
  font-family: "menlo", 'andale mono', "helvetica", sans-serif;
  font-size: 15px;
}
code {
  color: #000000;
  background-color: rgb(240, 240, 240);
  font-size: 15px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
/* h2 {
  text-decoration: underline;
} */
warning{
  background-color:yellow;
  padding: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  /* font-family:  'menlo', 'andale mono', "helvetica", sans-serif; */
  font-size: 1.2em;
  color:#4c4b4b;
  padding: 2px;
  border-radius: 5px;
}
a:hover {
  /* color:#333333; */
  padding: 2px;
  background-color: #f6f3f3;
}
a:visited {
  text-decoration: none;
}
.book {
  margin:0px;
  padding: 0;
}
top-title {
  display: inline;
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 20px;
}
line-descr {
  font-size: 1em;
  color:rgb(155, 155, 155);
}
tag-new {
  display: inline;
  color: rgb(75, 75, 75);
  background-color: rgb(255, 253, 134);
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
  margin-left: 5px;
}
tag-note {
  display: inline;
  /* color: rgb(0, 0, 0); */
  background-color: #fcb9b9;  
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
  margin-left: 5px;
}
table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
tr {
  border-bottom: 1px;
}
td {
  padding: 3px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(168, 167, 167);
  font-size: 13px;
}
.td-inact {
  background-color: rgb(243, 243, 243);
}
#table-title {
  background-color: rgb(255, 253, 134);
  font-size: 22px;
  padding: 10px;
}
comment {
  color: rgb(169, 169, 169);
  font-size: 14px;
}